{% extends 'app/base.html' %}

{% block title %}Book a show{% endblock %}

{% block content %}
<body style="background-color: black; color: whitesmoke">
{% load static %}
<p style="text-align: center"><img style="height: 1000px" src="{% static 'app/images/Periphery.jpg' %}" alt="\m/"></p>
<p style="text-align: center">Please use the following form to submit a show booking request.</p>
<form style="text-align: center" action="{% url 'Book_a_show' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<script>
    flatpickr("#id_Requested_date", {enableTime: true, dateFormat: "Y-m-d H:i"});
</script>
</body>
{% endblock %}

