<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" alt="Book a show here">

    <meta charset="UTF-8">
    <title> Welcome to MyTouringPal! </title>
</head>
<body style="background-color: black; color: whitesmoke">

<br>

{% load static %}
<p style="text-align: center;"><img style="height: 1000px" src="{% static 'app/images/MyTouringPal_Logo.jpg' %}" alt="\m/">
</p>

<br>

{% load static %}
<p style="text-align: center;"><img style="height: 1000px" src="{% static 'app/images/Welcome.jpg' %}" alt="\m/">
</p>

<br>
<br>
<br>

<div style="text-align: center">
<a href="http://localhost:8000/app/book_a_show">Book a show</a>
</div>

</body>
</html>